button {
  box-shadow: 0 4px 4px rgba(212, 212, 216, .25);

  transition: all ease-in-out .2s;
}

button:hover {
  box-shadow: none;
}

#conteudo::-webkit-scrollbar,
#preview::-webkit-scrollbar {
  width: 12px;
}

#conteudo::-webkit-scrollbar-track,
#preview::-webkit-scrollbar-track {
  background: #27272A; /* Cor do trilho da barra de rolagem */
}

#conteudo::-webkit-scrollbar-thumb,
#preview::-webkit-scrollbar-thumb {
  background: #2563EB; /* Cor do "polegar" da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas */
}